@import "tailwindcss";

*:focus {
    outline: none;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Hairline.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Hairline.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "tnum" 1;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Thin.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Thin.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-UltraLight.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-UltraLight.woff") format("woff");
    font-weight: 250;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Light.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-DemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Bold.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: "DanaFaNum";*/
/*    src: url("../public/fonts/Dana/woff2/DanaFaNum-fat.woff2") format("woff2"),*/
/*    url("../public/fonts/Dana/woff/DanaFaNum-fat.woff") format("woff");*/
/*    font-weight: 800;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/* Black / Heavy / ExtraBlack */
@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-Black.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*@font-face {*/
/*    font-family: "DanaFaNum";*/
/*    src: url("../public/fonts/Dana/woff2/DanaFaNum-Heavy.woff2") format("woff2"),*/
/*    url("../public/fonts/Dana/woff/DanaFaNum-Heavy.woff") format("woff");*/
/*    font-weight: 900;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/
@font-face {
    font-family: "DanaFaNum";
    src: url("../public/fonts/Dana/woff2/DanaFaNum-ExtraBlack.woff2") format("woff2"),
    url("../public/fonts/Dana/woff/DanaFaNum-ExtraBlack.woff") format("woff");
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

/*Peyda fonts*/
@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-Bold.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-Regular.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-Medium.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-ExtraBold.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-Black.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/peydaWeb-light.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/peydaWeb-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Peyda";
    src: url("../public/fonts/Peyda/woff2/PeydaWeb-Thin.woff2") format("woff2"),
    url("../public/fonts/Peyda/woff/PeydaWeb-Thin.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Peyda", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@theme {
    --text-tiny: 0.8125rem;
}
@theme {
    --font-mono: "DanaFaNum", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
@layer components {
    .container-custom {
        @apply mx-auto;
        width: 100%;
        max-width: 1320px;
    }

    @media (min-width: 1920px) {
        .container-custom {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@theme {
    --breakpoint-3xl: 120rem;
}